# Database
DATABASE_URL=postgresql+psycopg://postgres:[YOUR-PASSWORD]@db.ewkiegylmsnjzcmmujkh.supabase.co:5432/postgres

# Security & JWT (use a long, cryptographically random secret in production)
SECRET_KEY=local-development-secret-change-me

# CORS & Frontend Origin
FRONTEND_ORIGIN=http://localhost:5173

# Cloudinary (optional - for media uploads)

CLOUDINARY_CLOUD_NAME=ds9pzzxl1
CLOUDINARY_API_KEY=327311549528714
CLOUDINARY_API_SECRET=2EHK9XmOe0Nlgsv27sIASPnpZ4U
